<div class="container" style="width: 300px;">
    <img alt="Ghost game title" src="../../assets/title.png">
</div>
<div class="container" style="width: 300px;">
<form class="form-horizontal" #form="ngForm" novalidate>
    <input type="text" 
        [(ngModel)]="word.letter"
        name="letter"
        id="inputletter" 
        #letter="ngModel"
        placeholder="Letter"
        style="width: 50px;"
        maxlength="1"
        [disabled]="word.playerWin || word.computerWin"
        required>
        <br/>
        <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="findWord()">Insert Letter</button>
        <button type="button" class="btn btn-primary" (click)="restartGame()">Restart Game</button>
        <br/>
        {{ word.lettersInserted }}
        <br/>
        <div *ngIf="word.playerWin">
            <p>You win</p> 
            <span><img src="../../assets/win.png" width="256px" height="256px"></span>
        </div>
        <br/>
        <div *ngIf="word.computerWin">
            <p>You lost</p> 
            <span><img src="../../assets/lost.png" width="256px" height="256px"></span>
        </div>
</form>
</div>
